$bp-mobile: 980px


.main
    width: 100%
    // height: 100vh
    display: flex
    justify-content: space-around
    flex-direction: column
    // text-align: center
    margin: 50px 0

.container
    width: 100%
    max-width: 980px
    min-height: 200px
    // background-color: white
    margin: 50px auto
    display: flex
    justify-content: space-between
    flex-direction: row
    border-radius: 6px
    background: rgb(255,255,255)
    background: -moz-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(223,223,223,1) 100%)
    background: -webkit-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(223,223,223,1) 100%)
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(223,223,223,1) 100%)
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#dfdfdf",GradientType=1)

// .repair-container
//     border-top-left-radius: 5px
//     border-top-right-radius: 5px
    
// .custom-container
//     border-bottom-left-radius: 5px
//     border-bottom-right-radius: 5px


.bar
    min-height: 200px
    width: 16px
    border-top-left-radius: 5px
    border-bottom-left-radius: 5px



.grid-desc
    display: grid
    grid-template-columns: repeat(1, 1fr)
    grid-gap: 20px
    grid-auto-rows: minmax(100px, auto)
    margin: auto
    margin-top: 30px
    transition: opacity .5s, transform .6s


.txt-center
    text-align: center
    text-shadow: 1px 1px 20px white
    
.txt-right
    text-align: right
    font-weight: bold
    font-size: 1.2rem

.grid-price
    display: grid
    grid-template-columns: repeat(2, 1fr)
    grid-gap: 20px 5px
    grid-auto-rows: minmax(auto)
    margin: 20px auto 20px auto

.price-array
    max-width: 400px
    width: 100%
    margin: auto
    // border: solid white 2px
    padding: 10px
    border-radius: 10px
    box-shadow: 0 5px 8px rgba(0, 0, 0, .5)

.not-visible
    opacity: 0
    transform: translate3d(0, 50px, 0)

.bg-grid-repair
    background: rgb(0,0,0)
    background: -moz-linear-gradient(0deg, rgba(0,0,0,1) 0%, #0f0000 100%)
    background: -webkit-linear-gradient(0deg, rgba(0,0,0,1) 0%, #0f0000 100%)
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, #0f0000 100%)
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#240000",GradientType=1)

.bg-grid-clean
    background: rgb(0,0,0)
    background: -moz-linear-gradient(0deg, rgba(0,0,0,1) 0%, #00000f 100%)
    background: -webkit-linear-gradient(0deg, rgba(0,0,0,1) 0%, #00000f  100%)
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, #00000f  100%)
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#050024",GradientType=1)

.grid-name-span
    color: white


.case-desc
    display: flex
    & *
        // margin: auto

.img-desc
    // grid-row-start: 1
    // display: flex

    & img
        width: 100%
        border-radius: 2px
        margin-top: 0
        // box-shadow: 0 5px 8px #0000003b

.description
    width: 100%
    height: 100%
    padding: 0 30px 60px 18px
    // padding-top: 0
    text-align: justify
    // overflow-wrap: break-word
    word-break: break-word
    & h1
        font-size: 4rem
        margin: 0
        text-align: center

.repair-bar
    // background: rgb(185,255,0)
    // background: -moz-linear-gradient(180deg, rgba(185,255,0,1) 0%, rgba(52,148,52,1) 100%)
    // background: -webkit-linear-gradient(180deg, rgba(185,255,0,1) 0%, rgba(52,148,52,1) 100%)
    // background: linear-gradient(180deg, rgba(185,255,0,1) 0%, rgba(52,148,52,1) 100%)
    // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b9ff00",endColorstr="#349434",GradientType=1)
    background: rgb(255,72,0)
    background: -moz-linear-gradient(0deg, rgba(255,72,0,1) 0%, rgba(101,0,0,1) 100%)
    background: -webkit-linear-gradient(0deg, rgba(255,72,0,1) 0%, rgba(101,0,0,1) 100%)
    background: linear-gradient(0deg, rgba(255,72,0,1) 0%, rgba(101,0,0,1) 100%)
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff4800",endColorstr="#650000",GradientType=1) 
    // border-top-right-radius: 2px
    border-top-left-radius: 5px

.clear-bar
    background: rgb(52,89,148)
    background: -moz-linear-gradient(180deg, rgba(52,89,148,1) 5%, rgba(0,211,255,1) 100%)
    background: -webkit-linear-gradient(180deg, rgba(52,89,148,1) 5%, rgba(0,211,255,1) 100%)
    background: linear-gradient(180deg, rgba(52,89,148,1) 5%, rgba(0,211,255,1) 100%)
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#345994",endColorstr="#00d3ff",GradientType=1)

.custom-bar
    background: rgb(98,0,255)
    background: -moz-linear-gradient(180deg, rgba(98,0,255,1) 0%, rgba(136,0,254,1) 74%)
    background: -webkit-linear-gradient(180deg, rgba(98,0,255,1) 0%, rgba(136,0,254,1) 74%)
    background: linear-gradient(180deg, rgba(98,0,255,1) 0%, rgba(136,0,254,1) 74%)
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6200ff",endColorstr="#8800fe",GradientType=1)
    // border-bottom-right-radius: 2px
    border-bottom-left-radius: 5px

.desc-title1
    // color: rgb(185,255,0)
    color: #6e0000
.desc-titleh1
    // color: rgb(185,255,0)
    color: #6e0000
    background: rgb(255,72,0)
    background: -moz-linear-gradient(0deg, rgba(255,72,0,1) 0%, rgba(101,0,0,1) 100%)
    background: -webkit-linear-gradient(0deg, rgba(255,72,0,1) 0%, rgba(101,0,0,1) 100%)
    background: linear-gradient(0deg, rgba(255,72,0,1) 0%, rgba(101,0,0,1) 100%)
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff4800",endColorstr="#650000",GradientType=1) 
    background-clip: text
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    transition: opacity .6s, transform .7s


.desc-title2
    color: rgb(52,89,148)
.desc-titleh2
    color: rgb(52,89,148)
    transition: opacity .6s, transform .7s
    background: rgb(52,89,148)
    background: -moz-linear-gradient(180deg, #043c97 5%, #00768d 100%)
    background: -webkit-linear-gradient(180deg, #043c97 5%, #00768d 100%)
    background: linear-gradient(180deg, #043c97 5%, #00768d 100%)
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#043c97",endColorstr="#00768d",GradientType=1)
    background-clip: text
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
.desc-title3
    color: rgb(98,0,255)

.mt-50
    margin-top: 30px


@media screen and ( min-width: $bp-mobile )


    .container
        box-shadow: 0 0 15px rgba(255, 255, 255, .35)
    .description
        padding: 0 50px 60px 50px
        text-align: left

        & h1
            font-size: 8rem
            text-align: left

    .grid-desc
        grid-template-columns: repeat(3, 1fr)
        grid-gap: 50px

    .txt-desc p
        padding-left: 5px
        margin: auto 0

    .txt-desc
        grid-column-start: 1
        grid-column-end: 3

    .img-desc
        grid-column-start: 3
