<div class="main">
    <div class="container">
        <h1>Nous contacter</h1>
        <br>
        <br>
        <br>
        <p style="font-weight: bold;">
            Disponibe tous les jours de la semaine de 9h à 20h, par téléphone, email ou encore snapchat.
        </p>
        <p style="font-weight: bold; color: rgba(101,0,0,1); text-decoration: underline;">
            Uniquement sur rendez-vous !
        </p>
        <br>
        <p>
            (Métropole lilloise (59), les bouzeux (62))
        </p>
        <br>
        <br>
        <br>
        <br>
        <div class="grid-price">
            <div>
                <p>
                    <span class="grid-name-span">Téléphone</span>
                </p>
            </div>
            <div class="txt-right">
                <p>07.20.03.20.03</p>
            </div>
            <div>
                <p>
                    <span class="grid-name-span">Mail:</span>
                </p>
            </div>
            <div class="txt-right">
                <p>adresse@mail.com</p>
            </div>
            <div>
                <p>
                    <span class="grid-name-span">Snapchat</span>
                </p>
            </div>
            <div class="txt-right">
                <p>@le_snap</p>
            </div>
            <div>
                <p>
                    <span class="grid-name-span">Instagram</span>
                </p>
            </div>
            <div class="txt-right">
                <p>@le_insta</p>
            </div>
        </div>
    </div>
</div>
