<div [ngClass]="{'OpenNav': isOpen === true, 'CloseNav': isOpen === false}" class="container">

    <div>
        <img src="/assets/images/logo/logo2.png" alt="">
    </div>
    <div class="categories">
        Home
    </div>
    <div class="categories">
        Presentation
    </div>
    <div class="categories">
        Tarifs
    </div>
    <div class="categories">
        Contact
    </div>
    <div class="categories">
        Snap 
    </div>
    <div class="categories">
        Instagram
    </div>
    <div class="categories">

    </div>

</div>

<div class="nav-button" (click)="manageMenu()">
    <div class="barOfBurger" style="margin-top: 5px;"></div>
    <div class="barOfBurger"></div>
    <div class="barOfBurger" style="margin-bottom: 5px;"></div>
</div>